@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
:root{
  --header-height: 3rem;
  --font-semi: 600;
}
:root{
  --first-color: #4070F4;
  --second-color: #0E2431;
}
:root{
  --body-font: 'Poppins', sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
}
@media screen and (min-width: 768px){
  :root{
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
  }
}
:root{
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
}
:root{
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

*,::before,::after{
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}

.section-title{
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-4);
  text-align: center;
}
.section-title::after{
  position: absolute;
  content: "";
  width: 64px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: var(--first-color);
}
.section{
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.skills 
{
    color: white;
    background-color:#1C658C;
}

.bd-grid{
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.skills__container{
  row-gap: 2rem;
  text-align: center;
}
.skills__subtitle0{
  text-align: center;
}
.skills__subtitle{
  margin-bottom: var(--mb-2);
}
#skills{
  text-align: center;
}
.skills__text{
  margin-bottom: var(--mb-4);
}
.skills__data{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-weight: var(--font-semi);
  padding: .5rem 1rem;
  margin-bottom: var(--mb-4);
  border-radius: .5rem;
  box-shadow: 0 4px 25px rgba(14,36,49,.15);
  background-color: black;
}
.skills__icon{
  font-size: 2rem;
  margin-right: var(--mb-2);
  color: var(--first-color);
}
.skills__names{
  display: flex;
  align-items: center;
}
.skills__bar{
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #3469fc;
  height: .25rem;
  border-radius: .5rem;
  z-index: 1;
}
.skills__html{
  width: 78%;
}
.skills__css{
  width: 85%;
}
.skills__js{
  width: 65%;
}
.skills__ux{
  width: 85%;
}
.skills__php
{
  width: 65%;
}
.skills__sql
{
  width: 90%;
}

.resume-item
{
    padding: 20px 20px 20px 20px;
}

.article-list
{
  background-color: #495057 !important;
  color: white !important;
}

.article-title::after{
  content: "";
  position: relative;
  display: block;
  width: 120px;
  height: 3px;
  background: white;
  border-radius: 15px;
  bottom: 0;
  left: calc(50% - 60px);
}

.grid-container
{
  display: grid;
  grid-template-columns: auto auto;
  padding: 30px;
}

.grid-container p 
{
  padding: 30px;
}

.resume
{
  color: white;
  background-color: #22303c;
}

.resume-title::after {
    content: "";
    position: relative;
    display: block;
    width: 142px;
    height: 3px;
    background: #0563bb;
    border-radius: 15px;
    bottom: 0;
    left: calc(50% - 70px);
}

.skills__subtitle::after{
    content: "";
    position: relative;
    display: block;
    width: 80px;
    height: 3px;
    background: white;
    border-radius: 15px;
    bottom: 0;
    left: calc(50% - 40px);
}

.contact-form::after{
    content: "";
    position: relative;
    display: block;
    width: 140px;
    height: 3px;
    background: white;
    border-radius: 15px;
    bottom: 0;
    left: calc(50% - 70px);
}

.check
{
  border-radius: 25px;
  height: 50px;
  border: 2px solid red;
  background-color: transparent;
  color: white;
  padding: 5px 20px;
}

.check:hover
{
  background-color: red;
  transition: 0.4s ease-out;
}

.arrow:hover
{
  color: red;
}

.main
{
  display: none;
}

.main-display
{
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-gap: 30px;
  justify-content: center;
}

@media (min-width: 992px)
{
  .main-display
  {
    grid-template-columns: auto auto auto;
    grid-gap: 150px;
  }
}

.container-about::after{
    content: "";
    position: relative;
    display: block;
    width: 130px;
    height: 3px;
    background: white;
    border-radius: 15px;
    bottom: 0;
    left: calc(50% - 65px);
}

@media screen and (min-width: 1024px){
  .bd-grid{
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 800px)
{
  .grid-container
  {
    grid-template-columns: auto;
  }
}

@media screen and (max-width: 370px)
{
  .grid-container img
  {
    width: 200px;
  }
}

@media screen and (max-width: 300px)
{
  .grid-container img
  {
    width: 120px;
  }
  .grid-container p 
  {
    padding: 10px;
  }
}
